NEXT_PUBLIC_AUTH_API_URL=http://localhost:8081
NEXT_PUBLIC_EVENT_API_URL=http://localhost:8082
NEXT_PUBLIC_TICKET_API_URL=http://localhost:8083
NEXT_PUBLIC_PAYMENT_API_URL=http://localhost:8084
NEXT_PUBLIC_CASHLESS_API_URL=http://localhost:8085
NEXT_PUBLIC_GATE_API_URL=http://localhost:8086
NEXT_PUBLIC_STORAGE_API_URL=http://localhost:8087
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=Mid-client-fG6cWIOaFcf7Wa93
